.workExp img {
    height: 425px;
	width: 700px;
	background-size: cover;
	overflow: hidden;
    border-radius: 2px;
    opacity: 70%;
}

#workExperienceModal .modal-body {
    margin-top: 0;
    margin-bottom: 10px;
}

#workExperienceModal .card-body {
    font-size: 12px;
    height: 160px;
}

#workExperienceModal .card {
    margin-top: -8px;
}
