body {
    background: #0a0109;
}

i {
    color: rgb(6, 255, 222);
}

.modal-header {
    background: rgb(58,180,167);
    background: linear-gradient(90deg, rgba(58,180,167,1) 0%, rgba(234,108,255,1) 50%, rgb(164, 231, 9) 100%);    
}

.close-modal i {
    color: #000000 !important;
}

.close-modal:hover i {
    color: rgba(234,108,255) !important;
}

.modal-content {
    background: rgb(32, 31, 31);
}

.sendForm {
    background: rgb(77, 73, 75);
}

.sendForm:hover {
    background: rgba(234,108,255);
}

.nav .contact-item {
    background-color: #f1eeee;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: #FFFFFF;
    line-height: 38px;

}

.nav a {
    color: aqua;
    background: rgb(58,180,167) !important;
    background: linear-gradient(45deg, rgba(58,180,167,1) 0%, rgba(234,108,255,1) 50%, rgb(164, 231, 9) 100%) !important;
}

.nav-item i {
    padding: 1px;
    text-align: center;
    vertical-align: middle;
    margin-left: -3px;
    margin-bottom: 5px;
}

.contact-item:hover {
    background: rgb(58,180,167);
    background: radial-gradient(circle, rgba(58,180,167,1) 0%, rgba(234,108,255,1) 50%, rgb(164, 231, 9) 100%) !important;
}

.card {
    background: rgb(32, 31, 31);
    margin-top: 30%;
    padding: 10px;
}

.validate-field {
    color: red;
    font-size: 12px;
}
      

      
    

